<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1616610067.147048</real>
	<key>UUID</key>
	<string>5B0542C3-879F-401C-832E-E1B882EE29B9</string>
</dict>
</plist>
